.robot {
  border-radius: 50%;
  position: absolute;
  background-color: red;
  width: 10px;
  height: 10px;
}

.on-red { top: 75px; left 195px; }
.on-green { top: 75px; left 75px; }
.on-black { top: 5px; left 5px; }
.on-white { top: 85px; left 25px; }
.on-grey { top: 25px; left 25px; }
.on-yellow { top: 25px; left 145px; }
.on-blue { top: 85px; left 145px; }

.border {
  position: relative;
  padding: 20px;
  height: 120px;
  width: 240px;
}

.cell {
  float: left;
  height: 60px;
  width: 120px;
}

.target1 {
  border-radius: 50%;
  position: relative;
  width: 30px;
  height: 30px;
  top: 45px;
  left: 45px;
}

.target2 {
  border-radius: 50%;
  position: relative;
  width: 30px;
  height: 30px;
  top: 15px;
  left: 165px;
}

.red { background-color: #862C19; }
.green { background-color: #69CD53; }

.black { background-color: #121011; }
.white { background-color: #F9F3F5; }
.gray { background-color: #796859; }
.yellow { background-color: #FACF5E; }
.blue { background-color: #2599CA; }
