
input, textarea
  border 2px solid white
  border-radius 3px
  background gray
  color white
  font-size 1.4rem
  margin 0.4rem auto
  padding 0.4rem

  &:focus
    background lighten(gray, 10%)
    outline none
